<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

<header>
    <%- include('../partials/header.ejs') %>
</header>

<main>
    <div class="index-container">
        <p>Select which brother the guests are at the house with. For non-resident brothers w/o guests, leave the guest fields empty.</p>
    </div>
    <form class="container" action="/" method="post">
        <div class="form-group">
            <label for="brotherSelect"><span style="color: red">*</span> Brother:</label><br>
            <select class="selectpicker" data-live-search="true" id="brotherSelect" name="brother" onchange="enableSubmit()">
                <option value="" disabled selected>Select a brother...</option>
                <% brothers.forEach(brother => { %>
                    <option><%= brother.last + ', ' + brother.first %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label>First Guest:</label>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Guest first name" name="guest1_first">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Guest last name" name="guest1_last">
                </div>
            </div><br>
            <label>Second Guest:</label>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Guest first name" name="guest2_first">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Guest last name" name="guest2_last">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" id="submit-button" disabled>Check In</button>
        </div>
      </form>
</main>

<footer>
    <script>
        function enableSubmit() {
            document.getElementById('submit-button').disabled = false
        }
    </script>
    <%- include('../partials/footer.ejs') %>
</footer>

</body>
</html>