<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

<header>
    <%- include('../partials/header.ejs') %>
</header>

<main>
    <div class="container" style="margin-top: 2vh;">
        <a href="/" class="btn btn-outline-primary">&lt; Back</a>
    </div>
    <div class="index-container">
        <h1 style="color: #007A33">Success!</h1>
    </div>
    <div class="index-container">
        <p>Thank you for checking in!</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</body>
</html>